{% extends "posts/base.html" %}

{% block head_title %}{{ instance.title }} | {{ block.super }}{% endblock head_title %}

{% block content %}
<style media="screen">
  {% block style %}
  h1 {
    color: #777777;
  }
  {% endblock style %}
</style>
<div class="col-sm-6 col-sm-offset-3">
  <h1>{{ title }}<small>{{ instance.timestamp }}</small></h1>

  {{ instance.title }}<br>
  {{ instance.content }}<br>
  {{ instance.timestamp }}<br>
  {{ instance.updated }}<br>
  {{ instance.id }}<br>
</div>

{% endblock content %}
